#buttons {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 160px 0;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    max-width: 480px;
    width: 100%;
    background-color: var(--secondary);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 386px;
    width: 100%;
    cursor: pointer;
    margin: 45px 0;
}

.button-1, .button-2, .button-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button-1 {
    background-image: url(/img/button-1.png);
}

.button-2 {
    background-image: url(/img/button-2.png);
}

.button-3 {
    background-image: url(/img/button-3.png);
}

.btn-text {
    padding: 150px 0;
    max-width: 260px;
    color: var(--secondary);
}

#photoshoots {
    padding: 0 0 150px 0;
}

.photoshoot {
    display: grid;
    position: relative;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 130px 0;
}

.photo {
    max-width: 100%;
}

.photo-offset {
    padding: 10px 0 0 0;
}

.clmn, .clmn-more {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
}

.clmn:last-child, .clmn-more:last-child {
    padding: 0 0 0 0;
}

.clmn-more {
    display: none;
    opacity: 0;
    margin: 10px 0 0 0;
}

.show-more {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 50px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
}