.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0;
}

.title {
    margin: 0 0 15px 0;
}

.sub-title {
    margin: 0 0 20px 0;
    text-align: center;
    padding: 0 20px;
}

.title-hr {
    width: 200px;
    height: 2px;
    background-color: var(--primary);
}

.title-hr {
    margin: 0 0 75px 0;
}

.title-text {
    padding: 0 30px;
    text-align: center;
    max-width: 945px;
}

#about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    margin: 130px 0;
}

.about-img {
    width: 83%;
}

.about-shadow {
    width: 40%;
    position: absolute;
    left: 0;
    z-index: -2;
}

#why {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_title {
    margin: 190px 0 0 0;
}

.why_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1560px;
}

.reason_block {
    display: flex;
    margin: 60px;
}

.reason-icon {
    margin: 0 70px 0 0;
}

.reason-content {
    max-width: 450px;
}

.reason-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.1em;
    margin: 0 0 15px 0;
}

.why-shadow {
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
}

#services {
    position: relative;
}

.services_title {
    margin: 170px 0 30px 0;
}

.services-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 400px;
    width: auto;
    height: 900px;
    padding: 50px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: .1s linear;
    margin: 0 auto;
}

.swiper-slide-active {
    transition: .1s linear;
}

.swiper-slide:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.services-swiper-slide-active {
    opacity: 100%;
}

.services-swiper-text {
    color: var(--secondary);
    word-wrap: break-word;
    text-align: center;
    max-width: 340px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 2;
}

.services-swiper-1 {
    background-image: url(./img/swiper-1.png);
}

.services-swiper-2 {
    background-image: url(./img/swiper-2.png);
}

.services-swiper-3 {
    background-image: url(./img/swiper-3.png);
}

.services-swiper-4 {
    background-image: url(./img/swiper-4.png);
}

.services-swiper-5 {
    background-image: url(./img/swiper-5.png);
}

.services-swiper-6 {
    background-image: url(./img/swiper-6.png);
}

.services-swiper-7 {
    background-image: url(./img/swiper-7.png);
}

.services-swiper-8 {
    background-image: url(./img/swiper-8.png);
}

.services-swiper-1,
.services-swiper-2,
.services-swiper-3,
.services-swiper-4,
.services-swiper-5,
.services-swiper-6,
.services-swiper-7,
.services-swiper-8 {
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide-active .cover {
    background: rgba(0, 0, 0, 0);
    transition: all .2s linear;
}

.cover {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.services-swiper-pagination {
    margin: 120px 0 0 0;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #232323;
    opacity: 20%;
    margin: 0 10px;
}

.swiper-pagination-bullet-active {
    opacity: 100%;
}

.services-shadow {
    position: absolute;
    top: 550px;
    right: 0;
    z-index: -3;
}

#reviews {}

.reviews_title {
    margin: 230px 0 30px 0;
}

.reviews-swiper {
    width: 100%;
    max-width: 1350px;
}

.reviews-swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 350px;
    opacity: 80%;
    transition: .1s linear;
    user-select: none;
    margin: 0 auto;
    filter: brightness(50%);
}

.swiper-slide-active {
    filter: brightness(100%);
}

.reviews-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin: 50px 0 0 0;
    text-align: center;
}

.hr-reviews {
    width: 50px;
    height: 2px;
    margin: 30px auto;
    background-color: var(--primary);
}

.reviews-swiper-text {
    text-align: center;
}

.reviews-swiper-pagination {
    margin: 120px 0 0 0;
}

#buttons {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 220px 0;
}

.wrapper-button {
    background-color: #232323;
    display: flex;
    justify-content: center;
    max-width: 708px;
    width: 100%;
    margin: 0 30px;
    transition: .1s linear;
}

.buttons_block {
    display: flex;
    justify-content: center;
    max-width: 708px;
    width: 100%;
    transition: .1s linear;
    filter: brightness(80%);
}

.buttons_block:hover {
    filter: brightness(100%);
}

.catalog {
    background-image: url(./img/catalog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.events {
    background-image: url(./img/events.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button-page {
    margin: 220px 0;
}

.buttons-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -3;
}

/* Adaptive */

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {
    .reviews-swiper-slide {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .services-swiper-slide {
        height: 600px;
    }

    .about-img {
        width: 100%;
    }

    #buttons {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-button {
        margin: 0 0 30px 0;
    }

    .reason_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 80%;
        margin: 40px auto;
    }

    .reason-icon {
        margin: 0 auto;
    }

    .reason-title {
        font-size: 24px;
    }

    .sub-title {
        line-height: 150%;
    }
}

@media screen and (max-width: 520px) {
    .reason-icon img {
        width: 80px;
    }

    .reason-icon {
        margin: 0 20px 0 0;
    }

    .reason-title {
        font-size: 20px;
    }

    .reason_block {
        max-width: 90%;
    }
}