#buttons {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 160px 0;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    max-width: 480px;
    width: 100%;
    background-color: var(--secondary);
    padding: 45px 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 386px;
    width: 100%;
    cursor: pointer;
}

.button-1, .button-2, .button-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button-1 {
    background-image: url(../img/button-1.png);
}

.button-2 {
    background-image: url(../img/button-2.png);
}

.button-3 {
    background-image: url(../img/button-3.png);
}

.btn-text {
    padding: 150px 0;
    color: var(--secondary);
    letter-spacing: 0px;
    text-align: center;
}

#photoshoots {
    padding: 0 0 280px 0;
}

.photoshoot {
    display: grid;
    position: relative;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 10px 0;
}

.photo {
    max-width: 100%;
}

.photo-offset {
    padding: 10px 0 0 0;
}

.clmn, .clmn-more {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
}

.clmn:last-child, .clmn-more:last-child {
    padding: 0 0 0 0;
}

.clmn-more {
    display: none;
    opacity: 0;
    margin: 10px 0 0 0;
}

.show-more {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 50px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
}

/* Adaptive */

@media screen and (max-width: 1280px) {
    .btn-text {
        padding: 100px 20px;
    }

    .main-500 {
        font-size: 18px;
    }

    .btn {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .show-more {
        bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .photoshoot {
        grid-template-columns: repeat(1, 1fr);
    }

    .photo-offset {
        padding: 10px 0 10px 0;
    }

    .clmn, .clmn-more {
        padding: 0;
    }
        
    #buttons {
        flex-direction: column;
        align-items: center;
        padding: 75px 0;
    }

    #photoshoots {
        padding: 0 0 100px 0;
    }

    .wrapper-button {
        padding: 30px 0;
        margin: 30px 0;
    }

    .show-more {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 520px) {
    .main-500, .main-400 {
        font-size: 16px;
        line-height: 150%;
    }
}